<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-type-clipboard-workflow</string>
	<key>connections</key>
	<dict>
		<key>59A07A7B-16B1-4EC7-AACA-ACF917070EF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5646F6CF-757F-4064-9547-992F8DED363F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>77D17C33-F947-4F32-AB15-79286271B153</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5646F6CF-757F-4064-9547-992F8DED363F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>A simple automated shorcut to type the clipboard contents there where you can&#39;t use ⌘→V.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Type Clipboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>59A07A7B-16B1-4EC7-AACA-ACF917070EF1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/osascript type-clipboard.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5646F6CF-757F-4064-9547-992F8DED363F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>typeclipboard</string>
				<key>subtext</key>
				<string>Type the clipboard content in current focused field</string>
				<key>text</key>
				<string>Type Clipboard Content</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77D17C33-F947-4F32-AB15-79286271B153</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>readme</string>
	<key>uidata</key>
	<dict>
		<key>5646F6CF-757F-4064-9547-992F8DED363F</key>
		<dict>
			<key>ypos</key>
			<real>10.0</real>
		</dict>
		<key>59A07A7B-16B1-4EC7-AACA-ACF917070EF1</key>
		<dict>
			<key>ypos</key>
			<real>10.0</real>
		</dict>
		<key>77D17C33-F947-4F32-AB15-79286271B153</key>
		<dict>
			<key>ypos</key>
			<real>140.0</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ramiroaraujo/alfred-type-clipboard-workflow</string>
</dict>
</plist>
